<div class="iv-container">
  <a class="iv-back"><i class="iconfont icon-fanhui"></i></a>
  <a class="iv-swipe-left"><i class="iconfont icon-jiantou"></i></a>
  <a class="iv-swipe-right"><i class="iconfont icon-jiantou"></i></a>

  <div class="iv-header"><span>0/0</span></div>
	<div class="iv-content">
    <img class="view-image"/>
  </div>
</div>
