.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #efeff4;
}
* {
  font-size: .7rem;
  color: #222;
}
.page-back,
.page-nav {
  position: relative;
  display: inline-block;
  width: 2rem;
  line-height: 2.2rem;
  z-index: 1;
}
.page-nav {
  text-align: right;
}
.btn-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: #222222;
  line-height: 2.5rem;
  text-align: center;
  color: #fff;
  z-index: 999;
}
.btn-bottom a {
  color: #fff;
  text-decoration: none;
}
